<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Foodies | Recipe details</title>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />

</head>
<body class="singlePageBook">

<div layout:fragment="content" >

    <section id="recipe-create-form" class="content-container fields" >
        <article>
            <form th:action="@{/recipes/save}" th:object="${recipe}" method="post">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text"
                           th:field="*{recipeName}"
                           class="form-control"
                           id="title"
                           placeholder="Name of your recipe" required/>
                </div>
                <div class="form-group">
                    <label for="time-span">Time to prepare</label>
                    <input type="number" th:field="*{preparationTime}" class="form-control" id="time-span"
                        placeholder="Time to prepare in minutes"/>
                </div>

                <form action="http://httpbin.org/post" method="post">
                    <select  data-placeholder="Select Ingredient" multiple class="chosen-select multiSelection" name="Ingredients">
                        <option value=""></option>
                        <option th:each="ingredient : ${Ingredients}"
                                th:value="1"
                                th:utext="${ingredient}"/>
                    </select>
                </form>
                <!--                <select>-->
<!--                                    <option value=""> &#45;&#45; </option>-->
<!--                                    <option th:each="country : ${Lister}"-->
<!--                                            th:value="1"-->
<!--                                            th:utext="${country}"/>-->
                <!--                </select>-->


                <button type="submit" class="btn btn-primary">Save recipe</button>
            </form>
        </article>
    </section>
</div>

</body>
</html>