<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Foodies | Recipe details</title>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />

</head>
<body class="singlePageBook">

<div layout:fragment="content" >

    <section id="recipe-create-form" class="content-container fields" >
        <article>
            <form th:action="@{/recipes/save}" th:object="${recipe}" method="post">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text"
                           th:field="*{recipeName}"
                           class="form-control"
                           id="title"
                           placeholder="Name of your recipe" required/>
                </div>
                <div class="form-group">
                    <label for="time-span">Time to prepare</label>
                    <input type="number" th:field="*{preparationTime}" class="form-control" id="time-span"
                        placeholder="Time to prepare in minutes"/>
                </div>

                <table class="table table-striped ingredientsTable" id="Ingredients-table">
                    <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Units</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-3">
                        <select  data-placeholder="Select Ingredient" id="Ingredient" name="Ingredients">
                            <option value=""></option>
                            <option th:each="ingredient : ${Ingredients}"
                                    th:value="${ingredient}"
                                    th:utext="${ingredient}"/>
                        </select>
                    </div>
                    <div class="col-3">
                        <input placeholder="Quantity" type="number" id="Quantity">
                    </div>
                    <div class="col-3">
                        <select  data-placeholder="Select Ingredient" name="Unit" id="Unit">
                            <option value=""></option>
                            <option th:each="unit : ${Units}"
                                    th:value="${unit}"
                                    th:utext="${unit}"/>
                        </select>
                    </div>
                    <div class="col-3">
                        <button type="button" id="add-ingredient-btn" class="btn btn-primary">Add Ingredient</button>
                    </div>
                </div>


                <table class="table table-striped ingredientsTable" id="Instructions-table">
                    <thead>
                    <tr>
                        <th scope="col">Instructions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-9">
                            <input placeholder="Enter Instruction" id="Instruction">
                    </div>
                    <div class="col-3">
                        <button type="button" id="add-instruction-btn" class="btn btn-primary">Add Instruction</button>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Save recipe</button>
            </form>
        </article>
    </section>
</div>

</body>
</html>