<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Foodies | Recipe details</title>
</head>
<body>

<div layout:fragment="content" class="main-content-wrapper my-5">

    <section id="recipe-create-form" class="content-container">
        <article>
            <form  th:object="${recipe}">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text"
                           th:field="*{title}"
                           class="form-control"
                           id="title"
                           placeholder="Name of your recipe" required/>
                </div>
                <div class="form-group">
                    <label for="time-span">Time to prepare</label>
                    <input type="number" th:field="*{time_to_prepare}" class="form-control" id="time-span"
                        placeholder="Time to prepare in minutes"/>
                </div>


                <button type="button" id="create-recipe-btn" class="btn btn-primary">Save recipe</button>
            </form>
        </article>
    </section>

    <script src="/js/create-recipe.js"></script>
</div>


</body>
</html>