<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body class="viewRecipeBackground">

<div layout:fragment="content"  >
    <div id="recipe-grid">
            <label id="recipeTitle" th:text="${recipe.title}"></label>

                    <div id="Description">
                        <ul>
                            <li th:text="|Description: ${recipe.description}|"></li>

                            <li th:text="|Category: ${recipe.category.getName()}|"></li>

                            <li th:text="|Difficulty: ${recipe.difficulty_level}|"></li>
                        </ul>
                    </div>


                    <div id="ingredients">
                        <label><i><b>Ingredients:</b></i></label>
                        <br>
                        <div th:each="ingredient, status: ${recipe.ingredients}">
                        <ul id="ingredientList">
                            <li>
                            <label scope="row" th:text="|${status.count} - |"></label>
                            <label th:text="${ingredient.getName()}"></label>
                            <label th:text="|${ingredient.getQuantity()}|"></label>
                            <label th:text="${ingredient.getUnit_of_measurement()}"></label>
                            </li>
                        </ul>

                        </div>

                    </div>
    </div>

                    <div id="instructions">
                        <label><i><b>Instructions:</b></i></label>
                        <br>
                        <div th:each="instruction, status: ${recipe.getInstructions()}">
                            <ul id="ingredientList">
                            <li>
                                <label scope="row" th:text="|${status.count}. |"></label>
                                <label th:text="${instruction.instruction}"></label>
                            </li>
                            </ul>

                        </div>
                    </div>
</div>

</body>
</html>