.singlePageBook {
    background-image: url('../img/singlepage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.openBookClean {
    background-image: url('../img/openbookclean.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.homePageBackground {
    background-image: url('../img/notebook_pencil_recipe_seasoning_board.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.viewRecipeBackground {
    background-image: url('../img/openBookClean2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 18%;
}
.shoppingListBackground {
    background-image: url('../img/ShoppingList1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.opacity {
    opacity: 0.8;
}

.fields {
    position: relative;
    width: 28%;
    left: 33%;
}

.bg-light {
    background-color: aliceblue !important;
    opacity: 0.85;
}

.tableStyling {
    width: 66%;
    position: relative;
    left: 14%;
    margin-bottom: 1rem;
    background-color: aliceblue;
    opacity: 0.9;
}

.ingredientsTable {
    width: 100%;
    margin-bottom: 1rem;
    background-color: aliceblue;
    opacity: 0.9;
}

#Quantity {
    width: 100%;
}
.createButton {
    position: relative;
    left: 47%;
}

.editPageLayout {
    color: black;
    position: relative;
    width: 27%;
    left: -3%;
}

#backButton {
    position: relative;
    left: 3%;
}

#saveChangesButton {
    position: relative;
    left: 61%;
}

#recipeTitle {
    grid-area: A;
    font-size: 32px;

    /*font-size: 32px;*/
    /*position: relative;*/
    /*left: 55%;*/
}


#ingredients {
    grid-area: B;
    /*position: relative;*/
    font-size: 18px;
    /*left: -9%;*/
    /*text-align: center;*/
}

#instructions {
    grid-area: C;
    font-size: 18px;
    /*position: absolute;*/
    /*left: 64%;*/
    /*top: 31%;*/
    /*border: 2px solid black;*/
    /*width: 22%;*/
    /*height: 100%;*/
    /*font-size: 18px;*/
    /*text-align: center;*/
}

#recipe-grid {
    display: grid;
    grid-template-areas: 'A A A'
                         'B . C'
                         'B . C';
    margin-left: 27%;
    margin-right: 11%;
}

#recipeDetails {
     min-height: 100vh;
}

.multiSelection {
    width: 100% !important;
}

.chosen-container {
    width: 100% !important;
}

.shoppingList {
    position: absolute;
    width: 100%;
    height: 99%;
    text-align: center;
    top: 19%;
}

.labelTitle {
    font-size: 32px;
}
#items {
    font-size: 18px;
}

#Category-Label {
    text-align: center;
}
#Category {
    text-align: center;
}
#Instruction {
    width: 100%;
}

.Instructions-cell{
    width: 42% !important;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn-styling {
    color: dimgray;
    border: 1px solid dimgray;
    text-transform: uppercase;
    background: lightgray;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.btn-styling:hover {
    color: lightgray;
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


.Instructions-cell-delete-button{
    display: inline-block;
    width: 25%;
    text-align: right;
}

.table-wrapper{
    width: 100%;
    overflow: hidden;
}

.user-dropdown{
    right: 360%;
}