/* Please include all global styles here. */
/*  To add styles for a specific template,
    please create a file named <template-name>.css
*/
*{
    padding: 0,
    margin: 0,
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: navy;
}