<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/_layout}">
<head>
    <title>Foodies | Home</title>
</head>
<body>

<div layout:fragment="content" class="main-content-wrapper my-5">

    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to, <b>Foodies</b>!</h1>
        <p class="lead">This is a simple online hub that lets you
            share your recipes with the world.</p>
        <hr class="my-4">
        <p>You can get started by  creating a recipe or
            browsing through some of the most popular recipes on the platform
        </p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="#" th:href="@{/recipes/create}" role="button">Create recipe</a>
            <a class="btn btn-primary btn-lg" href="#" th:href="@{/recipes/browse}" role="button">Show popular recipes</a>
        </p>
    </div>
</div>


</body>
</html>